name: ci/action verbose ctest script
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
# if you have to do a quick fix and the CI is already running your new commit will kill already 
# going processes before starting new ones
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  build: 
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - name: Run Mac Build
      if: matrix.os == 'macos-latest'
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        fetch-depth: 0

    - name: Run Mac Build
      if: matrix.os == 'macos-latest'
      run: | 
        run: brew update && echo "MacOS Latest" > release_ubuntu

    - name: Run Linux Build
      if: matrix.os == 'ubuntu-latest'
      run: echo "Ubuntu Latest" > release_ubuntu
      
    - name: Create Build Environment
      run: cmake -E make_directory ${{github.workspace}}/build

    - name: Configure Linux/OSX CMake
      if: matrix.os == 'ubuntu-latest' || matrix.os == 'macos-latest'
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: cmake $GITHUB_WORKSPACE -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DADD_G3LOG_UNIT_TEST=ON && make install

    - name: Linux Bootstrap 
      if: matrix.os == 'ubuntu-latest'
      run: |
        echo "Ubuntu Latest" 
        gcc --version
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt-get update
        sudo apt-get install ninja-build cmake gcc-9 g++-9
        sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-9 90 --slave /usr/bin/g++ g++ /usr/bin/g++-9 --slave /usr/bin/gcov gcov /usr/bin/gcov-9
        sudo apt-get install -y unzip zlib1g-dev libc6-dev
        echo gcc version after
        gcc --version        
        cmake --version
        
    - name: build, and run ctest
      shell: bash
      run: |
        echo github.event.action: ${{ github.event.action }}
        echo github.event_name: ${{ github.event_name }}  
        ./scripts/buildAndRunTests.sh
